# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE configs
.vscode/
.idea/
.history/
.DS_Store
molsnap-api/uploads/*
checkpoints/*